{% extends "base.html" %}

{% block title_head %}
Acerca de Mi
{% endblock title_head %}

{% block a_body %}
SHOPIAND
{% endblock a_body %}

{% block h1_header %}
Acerca de Mi
{% endblock h1_header %}

{% block p_header %}
Conozcamé
{% endblock p_header %}

{% block section_body %}
{% endblock section_body %}

{% block main %}

<p>
    Hola soy Juan Martin Morano. Este es un proyecto de trabajo para Python 
    con objetivo de construir un ecommerce que venda dispositivos electrónicos que trabajen con IA.
    Yo estudio todos los campos de Data Analytics, Science and Engineering, por lo que, este proyecto
    suma mucho, en base a la creación web y de API´S que generen un beneficio extra a mis proyectos.
</p>

{% endblock main %}