{% extends "base.html" %}

{% block title_head %}
Editar Producto
{% endblock title_head %}

{% block h1_header %}
Edita tu producto para conocer más acerca de ti
{% endblock h1_header %}

{% block p_header %}
Registra tu Producto
{% endblock p_header %}

{% block section_body %}
{% endblock section_body %}

{% block main %}

<form action={% url "productos:editar_producto" productos.id %} method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    {{form}}
    <input type="submit" value="Editar">
</form>


{% endblock main %}