{% extends "base.html" %}
{% load static %}
{% block title_head %}
Listado de Productos de I.A.
{% endblock title_head %}
{% block a_body %}
SHOPIAND
{% endblock a_body %}
{% block h1_header %}
En este listado tendrás tu información de tus productos I.A. favoritos
{% endblock h1_header %}
{% block p_header %}
Por favor ingrese el producto a buscar
{% endblock p_header %}

{% block section_body %}
{% endblock section_body %}

{% block main %}

<a class="navbar-brand" href={% url "productos:crear_producto" %}>Nuevo Producto</a>

{% if productos %}
<ul>
    {% for productos in productos %}

    <li>{{productos}} 
                    |<a href={% url "productos:ver_producto" productos.id %}> Leer Más </a>|
                    |<a href={% url "productos:editar_producto" productos.id %}> Editar </a>|
                    | <a href={% url "productos:eliminar_producto" productos.id %}> Eliminar </a>|
    </li>
    {% endfor %}
</ul>
{% else %}
<p>No hay ningún producto registrado para este usuario.</p>
{% endif %}

{% endblock main %}