{% extends "base.html" %}
{% block title_head %}
Ver Producto
{% endblock title_head %}
{% block a_body %}
SHOPIAND
{% endblock a_body %}
{% block h1_header %}
Vista de Productos
{% endblock h1_header %}
{% block p_header %}
Por favor ingrese el producto a buscar
{% endblock p_header %}

{% block section_body %}
{% endblock section_body %}

{% block main %}

<ul>
    <li>Marca: {{productos.marca}}</li>
    <li>Modelo: {{productos.modelo}}</li>
    <li>Descripción: {{productos.descripcion}}</li>
    <li>Stock en Argentina: {{productos.stock_arg}}</li>
    
    {% if productos.imagen %}
    <p>Imagen actual:</p>
    <img src="{{ productos.imagen.url }}" alt="{{ productos.modelo }}" width="200">
    {% endif %}

</ul>
{% endblock main %}